body{
    text-align: center;
}

input{
    border: none;
    background-color: rgb(232, 232, 232);
    border-radius: 0.2em;
    text-align: center;
    width: 300px;
    height: 40px;
}

button{
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 0.2em;
    background-color: black;
    color: white;
}

a{
    text-decoration: none;
}

.title{
    font-size: 2em;
    font-weight: 700;
    color: rgb(113, 112, 112);
}